.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 2px;
  transition: transform .3s;
}

.poster-active {
  border: 2px solid;
  border-radius: 5px;
  margin: 0;
}

.poster-selected {
  transform: scale(1.1);
}
