.movie {
  width: 100%;
  padding-top: 3vw;
  padding-right: 3vw;
}

.movie:focus {
  outline: none;
}

.movie-title {
  color: #dddddd;
  font-size: 2rem;
  margin-bottom: 0.75em;
}

.movie-content {
  display: flex;
  justify-content: space-between;
}

.movie-info {
  width: 47%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.movie-labels {
  display: flex;
  justify-content: space-between;
}

.movie-label {
  border-top: 3px solid #232323;
  min-width: 30%;
  padding-top: 0.5rem;
}

.movie-label-name {
  color: #3e3e3e;
}

.movie-label-text {
  color: #a1a1a1;
  font-size: 1.25rem;
}

.movie-image {
  width: 50%;
  margin: 0 auto;
}

.movie-buttons {
  display: flex;
  justify-content: space-between;
}

.movie-button {
  width: 30%;
  color: #bbbbbb;
  text-align: center;
  padding: 1.5rem 0;
}

.movie-button:focus {
  color: #fdf5de;
  background-color: #f57610;
  border-radius: 5px;
  outline: none;
}

.movie-overview {
  width: 47%;
  color: #878787;
}
