.container {
  display: flex;
  background-color: #1a1a1a;
  min-height: 100vh;
}

.hide-movie > *:first-child {
  transition: margin-left .5s;
}
.show-movie > *:first-child {
  margin-left: -65vw;
}
